/* @import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Tilt+Warp&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Onest&family=Tilt+Warp&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-default: "Onest", sans-serif;
  --font-warp: Tilt Warp, cursive;

  --primary: #f09921;
  --secondary: #e2ac60;
  --border: #fff7ed;

  --custom-black: #191919;
  --custom-white: #f2f2f2;
  --dark-grey: #63605c;
  --light-grey: #bab6b0;

  --header-end: #ff7575;
  --header-1-start: #12b864;
  --header-1-end: #4de2f7;
  --header-2-start: #ff5599;
  --header-2-end: #ff8051;
  --header-3-start: #7950f2;
  --header-3-end: #f783ac;
}

* {
  font-family: var(--font-default);
}

h1 {
  font-size: 30pt;
  font-weight: 800;
  line-height: 110%;
}

h2 {
  font-size: 26pt;
  line-height: 115%;
}

h3 {
  font-size: 21pt;
  line-height: 120%;
}

h4 {
  font-size: 19pt;
  line-height: 130%;
}

h5 {
  font-size: 16pt;
  line-height: 140%;
}

p {
  font-size: 13pt;
  line-height: 150%;
}

body {
  background-color: var(--custom-black);
}

.header-dark {
  font-size: 46pt;
  line-height: 110%;
  font-family: var(--font-warp);
  letter-spacing: -1px;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary) 5%,
    var(--primary) 35%,
    var(--header-end) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-light {
  font-size: 46pt;
  line-height: 110%;
  font-family: var(--font-warp);
  letter-spacing: -1px;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom,
    var(--primary) 15%,
    var(--header-end) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-1 {
  font-size: 46pt;
  line-height: 110%;
  font-family: var(--font-warp);
  letter-spacing: -1px;
  font-weight: 400;
  background-image: linear-gradient(
    135deg,
    var(--header-1-start) 9%,
    var(--header-1-end) 92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-2 {
  font-size: 46pt;
  line-height: 110%;
  font-family: var(--font-warp);
  letter-spacing: -1px;
  font-weight: 400;
  background-image: linear-gradient(
    135deg,
    var(--header-2-start) 5%,
    var(--header-2-end) 95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-3 {
  font-size: 46pt;
  line-height: 110%;
  font-family: var(--font-warp);
  letter-spacing: -1px;
  font-weight: 400;
  background-image: linear-gradient(
    135deg,
    var(--header-3-start) 9%,
    (var(--header-3-end)) 92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-fade-in {
  opacity: 0;
  animation: fade-in 150ms ease-in forwards;
}

.nav-fade-in-top {
  opacity: 0;
  top: 5px;
  animation: fade-in-top 300ms ease-in-out 200ms forwards;
}

.nav-fade-out {
  opacity: 1;
  top: 0px;
  animation: fade-out-top 200ms ease-out forwards;
}

.nav-backing-fade-out {
  opacity: 1;
  animation: fade-out 300ms ease-out 250ms forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-out-top {
  to {
    opacity: 0;
    top: 5px;
  }
}
@keyframes fade-in-top {
  to {
    opacity: 1;
    top: 0;
  }
}
